<!-- add avatar photo modal -->
<div class="modal modal-wide fade" id="add_avatar_photo_modal" tabindex="-1" role="dialog" aria-labelledby="add_avatar_photo_modal" aria-hidden="true" style="padding:0px;">
<div class="textured-border" style="margin: 0px;">
  <div class="modal-dialog modal-dialog-wide booyah-box" role="document" style="padding:20px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_avatar_photo_modal">Add Avatar</h4>
      </div>

      <%= simple_form_for current_user, url: set_user_avatar_path(current_user) do |f| %>
	      <%= f.file_field :picture %>
	      <br>
	      <div style="align-content: center; text-align: center;">
	          <%= f.submit 'Add', class: 'btn btn-primary' %>
	          &nbsp;
	          <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
	            Cancel
	          </button>
	      </div>
      <% end %>
    </div>
  </div>
</div>
</div>