<br>


<div class ="textured-border col-9 col-md-6 offset-1">
	<div class="booyah-box">
		founded in by
	</div>
</div>

<br>

<div class ="textured-border col-9 col-md-6 offset-2">
	<div class="booyah-box">
		dynamic CEO
	</div>
</div>

<br>

<div class ="textured-border col-9 col-md-6 offset-1">
	<div class="booyah-box">
		Rich investor
	</div>
</div>

<br>

<div class ="textured-border col-9 col-md-6 offset-2">
	<div class="booyah-box">
		tech genious
	</div>
</div>

<br>

<div class ="textured-border col-9 col-md-6 offset-1">
	<div class="booyah-box">
		legal mastermind
	</div>
</div>

<br>