/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@import "font-awesome";

::selection {
	background-color: #88a9cd;
}

a {
	color: #6d98c7; 
}

.clear {
	clear:both;
}

.navbar {
	background: image_url('rubber_grip.png');
	box-shadow: 0px 10px 10px 0 #6d98c7;
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 3px solid #444445;
}

.navbar-round {
	font-size: 25px;
	width: 50px;
	height: 50px;
	text-align: center;
	align-content: center;
	padding: 8px 0px 0px 0px;
	margin: 0px;
	background-color: #444445;
	border: solid 3px #808084 !important;
	border-radius: 50%;
	box-shadow: 10px 10px 10px 0 #111;
	z-index: 1000;
}

.navbar-footer {
	background: image_url('rubber_grip.png');
	box-shadow: 0px 10px 10px 0 #6d98c7;

	height: 15px;
	position: sticky;
	z-index: 100;
	border-bottom: 3px solid #444445;
	border-top: 3px solid #444445;

	z-index: 90;
}

.navbar-brand {
	font-size: 35px;
	font-family: 'Days One', sans-serif;
	font-weight: 600;
	letter-spacing: -0.3px;
}

.navbar-toggler {
	box-shadow: 4px 0px 5px 3px #111,
				0px 4px 5px 3px #111,
				-4px 0px 5px 3px #111,
				0px -4px 5px 3px #111;
}

.nav-item {
	font-size: 18px;
}

.accent-color {
	color: #6d98c7 !important;
}

.accent-color-background {
	background-color: #6d98c7 !important;
}

.footer {
	background: image_url('rubber_grip.png');
	box-shadow: 0px -10px 10px 0 #6d98c7;
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
	border-top: 3px solid #444445;
	align-content: center;
	text-align: center;
}

body {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	background: image_url('grey_wash_wall.png');
	background-attachment: fixed;
}

.textured-border {
	background-image: image_url('rubber_grip.png');
	padding: 6px 6px 6px 6px;
	margin-top: 15px;
  	margin-bottom: 15px;
  	border-radius: 5px;
  	box-shadow: 10px 10px 10px 0 #111;
  	border: 3px solid;
  	border-color:  #808084 #444445 #444445 #808084;
}

.place-toolbar {
	width: 100%;
	background-color: transparent;
	color: #6d98c7;
	padding: 0px;
	margin-bottom: 2px;
	font-size: 18px;
	text-align: right;
	vertical-align: bottom;
	padding: 0px, ;
}

.booyah-box {
	background: #eeeef0;
	border: 3px solid;
	border-color: #444445 #808084 #808084 #444445;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}

.pagination {
	a, .previous_page, .next_page, .current, .gap {
		background-image: image_url('rubber_grip.png');
		padding: 5px 5px 5px 5px;
	  	margin-top: 20px;
	  	box-shadow: 10px 10px 10px 0 #111;
	  	border-width: 3px 1px 3px 1px;
	  	border-style: solid;
	  	border-color:  #808084 #444445 #444445 #808084;
	  	color: #6d98c7;
	  	font-weight: bolder;
	  	align-content: center;
	  	text-decoration: none !important;
	}

	.next_page {
		border-radius: 0px 5px 5px 0px;
		border-right-width: 3px !important;
	}

	.previous_page {
		border-radius: 5px 0px 0px 5px;
		border-left-width: 3px !important;
	}

	.disabled {
		color: #909090;
	}

	.current {
		border-color:  #ccc #aaa #aaa #ccc !important;
		box-shadow: 0px 4px 5px 0 #999,
					0px -4px 5px 0 #999,
					4px 0px 5px 0 #999,
					-4px 0px 5px 0 #999,
					10px 10px 10px 0 #111;
	}
}

.pagination:hover {
	a {
		text-decoration: none;
	}
}

.fa-edit, .fa-external-link, .fa-trash, .fa-map, .fa-map-marker, .fa-link {
	color: #6d98c7;
}

.hover-scale {
	transition: transform 0.3s;
}

.hover-scale:hover {
	transform: scale(1.25);
}

.grey-transperant {
	color: #909090 !important;
	opacity: 0.5;
}

.accent-star {
	color: #6d98c7;
	margin: 0;
	padding: 0;
	text-shadow: 3px 0px 6px #304154,
				0px 3px 6px #304154,
				-3px 0px 6px #304154,
				0px -3px 6px #304154;
	float: left;
}

.grey-star {
	margin: 0;
	padding: 0;
	float: left;
}

.mirror {
	transform: scale(-1, 1);
	margin-left: -1px;
}

.rating {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.red-heart {
	color: #f07074;
	text-shadow: 3px 0px 6px #653436,
				0px 3px 6px #653436,
				-3px 0px 6px #653436,
				0px -3px 6px #653436;
}

hr.vertical {	 
	width: 3px;
	height: 27px;
	background-color: #808084;
	display: inline-block;
	margin: 0px 3px 0px 3px;
	border-radius: 1px;
	vertical-align: bottom;
}

hr.thin {
	margin: 2px 0px 2px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.alert{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 2px 8px 2px 8px;
}

.clear-button {
	display: none;
}

.popup-double-up {
	font-size: 20px;
	font-weight: bolder;
	transform: scaleX(3.0);
	-webkit-backface-visibility: hidden;
	transition: transform 0.3s;
}

.popup-double-up:hover {
	transform: scale(4.5, 1.5);
	transition: transform 0.3s;
}

.dark-text-shadow {
	text-shadow: 4px 0px 10px #111,
			0px 4px 10px #111,
			-4px 0px 10px #111,
			0px -4px 10px #111
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.modal-dialog {
	padding: 0px;
	background: #eeeef0;
	margin: 0px;

	.simple_form, .form-group, .modal-header, .modal-content {
		background: #eeeef0;
		border: none; 
	}
}

.modal-dialog-wide, .modal-wide {
	max-height: none;
	margin: 0px;
	padding: 0px;
	max-width: 60vw;
	overflow: hidden;
}


.top-right-absolute {
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto;
	height: auto;
	padding: 5px;
}

.map {
	border-radius: 5px;
	margin: 20px 0px 20px 0px;
}

.plus_button {
	width: 75px;
	height: 75px;
	position: fixed;
	bottom: 65px;
	right: 40px;
	text-align: center;
	font-size: 45px;
	align-content: center;
	padding: 0px;
	margin: 0px;
	background-color: #444445;
	border: solid 3px #808084;
	border-radius: 50%;
	box-shadow: 10px 10px 10px 0 #111;
	z-index: 1000;
}

.avatar_button {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 15px;
	right: 15px;
	text-align: center;
	font-size: 25px;
	align-content: center;
	padding: 0px;
	margin: 0px;
	background-color: #444445;
	border: solid 3px #808084;
	border-radius: 50%;
	box-shadow: 10px 10px 10px 0 #111;
	z-index: 1000;

	img {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

.avatar-placeholder{
	width: 150px;
	height: 150px;
	border-radius: 5px;
	box-shadow: 4px 4px 10px #111;
	border: 2px #fff solid;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	font-size: 75px;
	background: image_url('rubber_grip.png');
}

.photo_add_button {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	bottom: 10px;
	text-align: center;
	font-size: 25px;
	align-content: center;
	padding: 2px 0px 0px 0px;
	margin: 0px;
	background-color: #444445;
	border: solid 3px #808084;
	border-radius: 50%;
	box-shadow: 10px 10px 10px 0 #111;
}

.active_link:hover {
	filter: contrast(200%);
	cursor: pointer;
	text-decoration: none;
}

.address{
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	top: 20px;
}

.address:hover {
	a {
		text-decoration: none !important;
		color: inherit !important;
	}
}

.message {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
}

.email_address {
	font-style: italic;
	font-size: 14px;
	font-family: 'Kaushan Script', cursive;
	float: left;
}

.title{
	font-family: 'Archivo Black', sans-serif;
	font-size: 30px;
	text-overflow: ellipsis;
}

.date {
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	float: right;
}

.snippet_toolbox {
	border-radius: 5px;
	background-color: #f9f9f9;
	margin: 0.5em 0px 0.5em 0px;
	padding: 3px;
}

.snippet_message {
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}

.snippet_email {
	font-style: italic;
	font-size: 14px;
	font-family: 'Kaushan Script', cursive;
	float: left;
}

.snippet_date {
	font-size: 12px;
	font-family: 'Rubik', sans-serif;
	float: right;
}

.snippet_rating {	
	font-size: 12px;
	float: right;
}

.caption {
	font-style: italic;
	font-size: 12px;
	font-family: 'Kaushan Script', cursive;
	margin: 0px 5px 0px 5px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0.5em 5px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 5px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


img.picture-thumbnail {
	display: block;
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
	box-shadow: 4px 4px 10px #111;
	transition: transform 0.3s;
	border: 2px #6d98c7 solid;
	margin: 10px;
	z-index: 1000;
	border-radius: 5px;
}

img.picture-thumbnail:hover {
	transform: scale(1.2);
	transition: transform 0.3s;
	cursor: pointer;
}

.thumbnail-toolbar {
	display: none;
}

.thumbnail-toolbar:hover {
	display: inline;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  width: 100%;
  max-height: 300px;
}

.carousel-item-prev {
  display: block;
}

.carousel-caption-container {
	background: rgba(0, 0, 0, 0.6);
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;

	h3 {
		font-family: 'Archivo Black', sans-serif;
		font-size: 1.25rem;
		font-weight: 100;
		text-shadow: 2px 2px 2px #888;
	}
}

.profile-header {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	padding: 10px 5px 10px 5px;
}


p.about {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	display: inline-block;
}


img.about {
	display: inline-block;
}