<div class ="textured-border col-10 offset-1">
	<div class="place-toolbar">
		<%= place.id %>
		<i class="fa fa-edit"></i>
	</div>
	<div class="booyah-box">
		<h1><%= place.name %></h1>
		<i><%= place.address %></i><br>
		<p><%= place.description %></p><br>
	</div>
</div>