<div class ="textured-border col-10 offset-1">
	<div class="place-toolbar">
		<div class="display: inline-block;">
			<%= link_to edit_place_path(:id => place.id) do %>
				<i class="fa fa-edit"></i>
			<% end %>
		</div>

		<div class="rating">
			<i class="fa fa-star gold-star"></i>
			<i class="fa fa-star gold-star"></i>
			<i class="fa fa-star-half gold-star"></i>
			<i class="fa fa-star-half grey-star mirror"></i>
			<i class="fa fa-star grey-star"></i>
			<i class="fa fa-star grey-star"></i>
		</div>
	</div>
	<div class="booyah-box">
		<h1><%= place.name %></h1>
		<i><%= place.address %></i><br>
		<p><%= place.description %></p><br>
	</div>
</div>