<div class="modal modal-wide fade" id="add_comment_modal" tabindex="-1" role="dialog" aria-labelledby="add_comment_modal" aria-hidden="true" style="padding:0px;">
<div class="textured-border" style="margin: 0px;">
  <div class="modal-dialog modal-dialog-wide booyah-box" role="document" style="padding:20px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_comment_modal">Enter Your Comment</h4>
      </div>

      <%= simple_form_for @new_comment, url:  place_comments_path(@place) do |f| %>
      <%= f.input :message %>
      <%= f.input :rating %>
      <br>
      <div style="align-content: center; text-align: center;">
          <%= f.submit 'Create', class: 'btn btn-primary' %>
          &nbsp;

          <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
            Cancel
          </button>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>