<%= render partial: "render_add_comment_modal", locals: {place: @place} %>

<%= render partial: 'render_place', locals: {place: @place, rating: @rating, gallery: true} %>

<!--TODO If there is only one comment, center it -->
<div class="row" style="margin-right: 20px; margin-left: 20px;">
<% @comments.each do |c| %>
	<%= render partial: 'render_comment', locals: {comment: c} %>
	<% end %>
</div>

<% if user_signed_in? %>
	<%= link_to '#', data: {toggle: 'modal', target: "#add_comment_modal"} do %>		
		<div class="plus_button accent-color active_link hover-scale" data-toggle="tooltip" title="Add Comment">
			<i class="fa fa-plus"></i>
		</div>
	<% end %>
<% end %>